@using centeripa.Models
@model DoctorModel
<div>
    <p>@Model.name</p>
    <p>@Model.address</p>
    <p>@Model.city</p>
    <p>@Model.specialist</p>
    <p>@Model.phone</p>
    <p>@Model.fax</p>
</div>