@using centeripa.Models
@model DoctorModel
<div class="doctorViewComponent">
    <div class="wrapper-top">
        <div class="image"></div>
        <p class="name">@Model.name</p>
    </div>
    <div>
        <p class="speciality">@Model.speciality</p>
        <p class="address">@Model.address</p>
        <p class="city">@Model.city</p>
        <p class="phone">@Model.phone</p>
        <p class="fax">@Model.fax</p>
    </div>
</div>